<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="myApp">
        <!-- Propiedad computada -->
        <h1>Batman quotes {{ totalQuotes }}</h1>

        <input 
            type="text" 
            placeholder="Add quote"
            @keypress.enter="addQuote"
            v-model="newMessage" 
        >

        <!-- Eventos -->
        <button @:click="toggleAuthor">Toggle Author</button>
        <button @:click="addQuote">Add any quote</button>
        <hr>
        <ul>
            <li v-for="({quote, author}) in quotes">
                <span>{{ quote }}</span>
                <blockquote v-if="showAuthor">{{ author }}</blockquote>
            </li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>
</html>